---
import Accessories from "../../../landing-tesla-main/src/components/Accessories.astro";
import HeroSection from "../../../landing-tesla-main/src/components/HeroSection.astro";
import LandingHeader from "../../../landing-tesla-main/src/components/LandingHeader.astro";
import ModelS from "../../../landing-tesla-main/src/components/ModelS.astro";
import ModelThree from "../../../landing-tesla-main/src/components/ModelThree.astro";
import ModelX from "../../../landing-tesla-main/src/components/ModelX.astro";
import ModelY from "../../../landing-tesla-main/src/components/ModelY.astro";
import PowerWall from "../../../landing-tesla-main/src/components/PowerWall.astro";
import Layout from "../../../landing-tesla-main/src/layouts/Layout.astro";
---

<Layout title="Tesla - El coche de tus sueños (y de Elon Musk)">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <ModelY />
    </div>
    <div class="snap-center">
      <ModelThree />
    </div>
    <div class="snap-center">
      <ModelS />
    </div>
    <div class="snap-center">
      <ModelX />
    </div>
    <div class="snap-center">
      <PowerWall />
    </div>
    <div class="snap-center">
      <Accessories />
    </div>
  </main>
</Layout>
